.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar {
    border-radius: 0px;
    background-color: rgb(64, 6, 78);
}

.navbar-brand {
    font-size: 35px;
    color: rgb(240, 18, 18);
    padding-left: 25px;
}
/* when the mouse is over on brand */
.navbar-brand:hover {
    color: rgb(153, 66, 235);
}

.nav {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar-toggle {
    border: 2px solid white;
    margin-right: 25px;
}

.icon-bar {
    background-color: rgb(32, 2, 36);
}


.main-title {
    margin-bottom: 15px;
    text-align: center;
    color: #e2d5ec;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

li {
    box-sizing: border-box;
    width: 100%;
}

.menu-item {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    display: block;
}

.menu-item:hover {
    background-color: rgb(219, 83, 83);
    color: rgb(50, 53, 235);
}